/* Top Bar */
// a.k.a. the panel

$panel_height: $menuitem_size;

@if $panel_size == 'smaller' {
  $panel_height: $menuitem_size - 4px;
}

@if $panel_size == 'bigger' {
  $panel_height: $menuitem_size + 4px;
}

#panel.login-screen {
  @if $scale != 'default' {
    @include fontsize($base_font_size * 2 - 2);
    height: $panel_height * 2 !important;

    .panel-button {
      -natural-hpadding: $container_padding * 2 + 4px !important;
      -minimum-hpadding: $container_padding * 2 + 4px !important;
      border-radius: $bt_radius * 2 !important;

      &.clock-display {
        StLabel { padding: 0 $base_padding * 2 !important; }

        .clock {
          border-radius: $bt_radius * 2 !important;
        }
      }

      // status area icons
      .system-status-icon {
        icon-size: $base_icon_size * 2 !important;
        padding: $base_padding * 2 !important;
        margin: 0 $base_padding * 2 !important;
      }

      .panel-status-menu-box StLabel { padding: 0 0 0 $base_padding !important; }

      .appindicator-trayicons-box { margin: 0 $base_padding * 2 !important; }

      StIcon {
        icon-size: 32px !important;
      }
    }
  }
}

#panel {
  background-color: $panel_bg;
  color: $panel_fg;
  transition-duration: 250ms;
  box-shadow: 0 5px 16px rgba(black, 0.05);

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: $panel-corner-radius;
    -panel-corner-background-color: $panel_bg;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
    -panel-corner-opacity: 1;
    transition-duration: 250ms;
  }
}